<div class="container">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Anime</h5>
            <table class="table table-striped card-text">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th>Episodes</th>
                    <th>Rating</th>
                    <th>Members</th>
                </tr>
            </table>
        </div>
    </div>
</div>