{% extends "index.html" %}

{% block details %}
{% if anime is none %}
<div class="container">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">Anime</h5>
        </div>
    </div>
</div>

{% else %}
<div class="container">
    <div class="card" style="width: 40rem;">
        <div class="card-body">
            <h5 class="card-title">{{ anime.name }}</h5>
            <table class="table table-striped card-text">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Genre</th>
                    <th>Type</th>
                    <th>Episodes</th>
                    <th>Rating</th>
                    <th>Members</th>
                </tr>
                <tr>
                    <td>{{ anime.id }}</td>
                    <td>{{ anime.name }}</td>
                    <td>{{ anime.genre }}</td>
                    <td>{{ anime.showType }}</td>
                    <td>{{ anime.episodes }}</td>
                    <td>{{ anime.rating }}</td>
                    <td>{{ anime.members }}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}