<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="SitePoint">
</head>
<body>
    Login
    {% if g.user is none %}
    Not Logged in
    {% else %}
    Welcome {{ g.user}}
    {% endif %}
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Username">
        <input type="text" name="password" placeholder="Password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>