<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="author" content="SitePoint">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    Update Anime
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        {% endwith %}
    </div>
    <div class="container">
        <form action="/update/{{ anime.name }}" method="post">
            {% if anime is defined %}
            {{ anime.name }}
            <div class="form-group">
                <label>ID</label>
                <input type="number" name="animeid" value="{{ anime.id }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="animename" value="{{ anime.name }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input type="text" name="animegenre" value="{{ anime.genre }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" name="animetype" value="{{ anime.showType }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Episodes</label>
                <input type="number" name="animenumepisodes" value="{{ anime.episodes }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Rating</label>
                <input type="number" name="animerating" value="{{ anime.rating }}" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Members</label>
                <input type="number" name="animemembers" value="{{ anime.members }}" class="form-control">
            </div>
            {% else %}
            <div class="form-group">
                <label>ID</label>
                <input type="number" name="animeid" placeholder="12345" class="form-control">
            </div>
            <div class="form-group">
                <label>Name</label>
                <input type="text" name="animename" placeholder="Fullmetal Alchemist: Brotherhood" class="form-control">
            </div>
            <div class="form-group">
                <label>Genre</label>
                <input type="text" name="animegenre" placeholder="Action, Adventure" class="form-control">
            </div>
            <div class="form-group">
                <label>Type</label>
                <input type="text" name="animetype" placeholder="TV" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Episodes</label>
                <input type="number" name="animenumepisodes" placeholder="64" class="form-control">
            </div>
            <div class="form-group">
                <label>Rating</label>
                <input type="number" name="animerating" placeholder="9.4" class="form-control">
            </div>
            <div class="form-group">
                <label>Number of Members</label>
                <input type="number" name="animemembers" placeholder="793665" class="form-control">
            </div>
            {% endif %}
            <input type="submit" name="submitButton" value="Submit" class="btn btn-primary">
        </form>
    </div>

</body>

</html>